@import 'theme';

.header {
  color: white;
  text-align: left;
  height: 3.5rem;

  .content-grid {
    display: flex;
    height: 100%;
    justify-content: center;
    
    .title-wrapper {
      display: flex;
      align-items: center;
      color: $colorPrimary;
      height: 100%;
      padding: 0 1.5rem;
      transition: 0.25s;

      h1 {
        margin: 0;
        font-size: 1.75rem;
        font-weight: bold;
      }

      &:hover {
        background-color: $colorPrimary;
        color: white;
      }
    }
    
  }

  

}