@import 'theme';

.header {
  color: white;
  text-align: left;
  height: 4rem;
  background-color: $colorPrimary;

  .content-grid {
    display: flex;
    height: 100%;
    
    .title-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      transition: 0.25s;

      h1 {
        margin: 0;
        font-size: 1.75rem;
      }

      &:hover {
        background-color: white;
        color: $colorPrimary;
      }
    }
    
  }

  

}