@import 'theme';
@import 'breakpoints';
@import 'typography';

.search-box {
  position: relative;

  .input-wrapper {
    display: flex;

    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    input {
      @include font-lato;
      flex: 1;
      margin-left: 12px;
      padding: 0 0.5rem;
      text-overflow: ellipsis;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      border: none;

      &:focus {
        border-color: $colorPrimary;
      }
    }

    .search-icon {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      background-color: $colorPrimary;
      color: white;
      border: 1px solid $colorPrimary;
      border-radius: 2px 0 0 2px;
    }
  }

  .autocomplete-dropdown {
    position: absolute;
    left: 0;
    text-align: left;
    width: 100%;
    background-color: white;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    .suggestion {
      padding: 0.5rem;
      line-height: 1rem;

      &:hover, &:focus {
        background-color: lighten($colorPrimary, 30%);
      }

      &:focus {
        outline: none;
      }
    }
  }
  
}
