/* Theme A */
$primary: #3F51B5;
$primary-dark: #303F9F;
$primary-light: #C5CAE9;
$text-primary: #212121;
$text-secondary: #757575;
$text-alternate: #FFFFFF;
$bg: #FFFFFF;


$colorPrimary: rgb(255, 140, 62);