@import 'theme';
@import 'breakpoints';

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  text-align: right;
  font-size: 0.875rem;
  
  a {
    color: $colorPrimary;
    text-decoration: none;
  }
}