.home-page {
  flex: 1;
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 2rem auto;


    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
