@import 'breakpoints';

.home-page {
  flex: 1;
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 2rem auto;
  }

  form {
    margin-bottom: 1em;
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }

  .search-wrapper {
    width: 60%;
  
    @include breakpoint-medium-down {
      width: 95%;
    }
  }
}
